@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #485C3B;
  --Dark-tones-Dark: #19191C;
  --Dark-tones-Light: #2F313B;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Outfit, sans-serif;
}

.speak {
  background: #485C3B !important;
}

p, li, a {
  font-family: sans-serif !important;
}

a.text-black.font-normal.text-base.relative.pb-1.hover\:border-b-2.hover\:border-black {
  font-size: 17px;
}